[Unit]
Description=Force wlan0 into AP Mode Before hostapd
After=network.target dhcpcd.service
Requires=dhcpcd.service

[Service]
ExecStart=/usr/bin/bash /usr/local/bin/force-ap-mode.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
