[Unit]
Description=DNS and DHCP server for AP Mode
After=network.target dhcpcd.service
Requires=dhcpcd.service

[Service]
ExecStart=/usr/sbin/dnsmasq -C /etc/dnsmasq.conf
Restart=always

[Install]
WantedBy=multi-user.target
