[Unit]
Description=Start Flask Setup Server
After=network-online.target NetworkManager.service
Requires=network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/setup-server.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
