[Unit]
Description=Install PI Tools
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/post-wifi-update.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target