[Unit]
Description=Post Wi-Fi Configuration Hook
After=multi-user.target
After=network.target NetworkManager.service NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
ExecStart=/usr/local/bin/post-wifi-update.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target